<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>weekmenu</title>
  </head>
  <body>
    <form
      method="post"
      th:action="@{/recipe/search}"
      th:object="${recipeFoodForm}"
    >
      <span>食費：</span>
      <input type="number" step="10" th:field="*{searchValue}" autofocus />
      <button type="submit">取得</button>

      <div
        th:if="${#fields.hasErrors('searchValue')}"
        style="color: red"
        th:errors="*{searchValue}"
      ></div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">レシピ</th>
            <th scope="col">金額</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="rf, st : *{recipeSummaryList}">
            <td th:text="${rf.recipeId}"></td>
            <td th:text="${rf.name}"></td>
            <td th:text="${rf.total}"></td>
          </tr>
        </tbody>
      </table>
      <span>合計：</span><span th:text="*{sum}"></span>
    </form>
  </body>
</html>
