<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>weekmenu</title>
	</head>
	<body>
		<p>recipe</p>
		<div th:object="${recipeFoodForm}">
			<table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">レシピ</th>
            <th scope="col">フード</th>
            <th scope="col">金額</th>
            <th scope="col">個数</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="rf, st : *{recipeFoodList}">
            <td th:text="${rf.getId}"></td>
            <td th:text="${rf.recipe.name}"></td>
            <td th:text="${rf.food.name}"></td>
            <td th:text="${rf.food.price}"></td>
            <td th:text="${rf.piece}"></td>
          </tr>
        </tbody>
      </table>
		</div>
		
	</body>
</html>